.animation{
    transition: all 1000ms ease-out;
    left: 0;
    right: 0;
}

.hide-animation{
    transition: all 3000ms ease-in-out;
    left: -1000%;
    right: 1000%;
}

#user-header:hover > #user-modal{
    display: flex;
}

.fade{
    display: grid;
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from{
        opacity:.4 ;
    }
    to{
        opacity: 1;
    }
}
/* 
WHEN USER HOVERS, IT SHOULD SHOW
WHEN USER CLICKS, IT SHOULD STAY
AND SO, WE COMBINE CSS AND TRUE OR FALSE */

.loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #7065F0;
    border-bottom: 16px solid #7065F0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
